# ESP-IDF build
build/
sdkconfig
sdkconfig.old

# IDE
.vscode/
.idea/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ESP-IDF / toolchain output
*.elf
*.bin
*.map

# OS
.DS_Store
Thumbs.db
